extends layout

block content
    h1 Bienvenue sur le tchat
    form(action="")
        label(for="name") Nom d'utilisiteur
        input#(type="text", name="name", id="name")

        input(type="submit", value="Se connecter au tchat")

block js
    script(src="/dist/socket.io.js")
    script(src="/js/tchat-client.js")